<a href="https://colab.research.google.com/github/Kanka-max/JanuaryClass/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**General Overview of Python Programming**


* Python is a general-purpose interpreted, interactive, object-oriented, and high-level programming language


**Applications**

- Web Development(Django &Flask)
- Game Development(Blender,Unity3d,UDK)
- Machine Learning and Artificial - Intelligence(Sklearn, )
- Data Science and Data Visualization(Pandas, Plotly, Dash)
- Desktop GUI(Tkinter,kivy)
- Web Scraping Applications (Beautifulsoap,ScrapySelinium,Splash )
- Embedded Applications (Arduino,Raspberry Pi)
- Mobile application (Kivy)

In [1]:
# Variables


y = 1000.50 # float type

income = 100000 #

is_married = True # boolean_type

is_married = False

In [2]:
print(x)

10

In [3]:
print(is_married)

False

In [4]:
display(x)

10

In [ ]:

x = 10 # integer
print(x)

In [5]:
# string

my_variable = "David Mugambi"
print(my_variable)

David Mugambi

In [7]:
# arrays - stores homogenous data type

genre = ["trap", "pop", "jazz", "blues"] #string type array

ages = [23, 24, 25, 26, 27] #integer array type

income = [20000.00, 10000.56, 23000.77]

In [9]:
print(["trap", "pop", "jazz", "blues"])

['trap', 'pop', 'jazz', 'blues']

In [10]:
# lists - heterogenous, mutable

my_list = ["trap", "pop", "jazz", "blues"]

my_list.append("electro music")

print(my_list)

['trap', 'pop', 'jazz', 'blues', 'electro music']

In [11]:
# tuples - immutable values

my_tuple = (12, 34, 36)
my_tuple

(12, 34, 36)

In [ ]:
# scalars - float/integer - 0- DImensional
# list- vector - 1- Dimensional
# matrices - 2 - DImenisional
# tensors - 3 - Dimensional

In [12]:
# row and column - 2D

# dictionary - made up of key value pairs

# dictionary = {key : value, key_1:value_1, key_n:value_n}

#string is the key, string is the value

continents = {"Africa": "Kenya", 
              "Europe": "France", 
              "Asia": "Japan"}
print(continents)
# string as key, list as value

continents_1 = {"Africa": ["Kenya", "Tanzania", "Nigeria"], 
                "Europe": ["France", "Spain", "Ukraine"],
                "Asia": ["Japan", "China", "S. Korea"]}

print(continents_1)

{'Africa': ['Kenya', 'Tanzania', 'Nigeria'], 'Europe': ['France', 'Spain', 'Ukraine'], 'Asia': ['Japan', 'China', 'S. Korea']}

In [13]:
# integer as key, list as value

continents_2 = {1: ["Kenya", "Tanzania", "Nigeria"], 
                2: ["France", "Spain", "Ukraine"],
                3: ["Japan", "China", "S. Korea"]}

continents_2

{1: ['Kenya', 'Tanzania', 'Nigeria'],
 2: ['France', 'Spain', 'Ukraine'],
 3: ['Japan', 'China', 'S. Korea']}

In [14]:
# key is string, another key is also a string, value is dictionary

regions = {"North America": {"United States": ["Texas", "New York", "Washington"], 
                             "Canada":["Ottawa", "Toronto", "Vancouver"]},
           "Western Africa": {"Nigeria": ["Lagos", "Abuja", "Port Hacourt"]}}


regions

{'North America': {'Canada': ['Ottawa', 'Toronto', 'Vancouver'],
  'United States': ['Texas', 'New York', 'Washington']},
 'Western Africa': {'Nigeria': ['Lagos', 'Abuja', 'Port Hacourt']}}

In [15]:
import pandas as pd

my_dataframe = pd.DataFrame(data=continents_1)
my_dataframe

     Africa   Europe      Asia
0     Kenya   France     Japan
1  Tanzania    Spain     China
2   Nigeria  Ukraine  S. Korea

In [17]:
my_regions = pd.DataFrame(data=regions)
my_regions

                               North America                Western Africa
United States  [Texas, New York, Washington]                           NaN
Canada          [Ottawa, Toronto, Vancouver]                           NaN
Nigeria                                  NaN  [Lagos, Abuja, Port Hacourt]

In [23]:
# control statements
## if/else statements
## while loops
# for loops

countries = ["Kenya", "Rwanda", "Burundi", "Angola", "S.A"]

# FOR LOOP

for x in countries:
  print(x)

Kenya
Rwanda
Burundi
Angola
S.A

In [24]:

# list comprehension

[x for x in countries]

['Kenya', 'Rwanda', 'Burundi', 'Angola', 'S.A']

In [21]:
print([country for country in countries])

['Kenya', 'Rwanda', 'Burundi', 'Angola', 'S.A']

In [25]:
# if/else statement - conditional


for x in countries:
  if x == "Kenya":
    print(x)
  else:
    break

Kenya

In [30]:
# logic operators
# OR operator - either
# AND operator - biconditional statement - only and only if
# NOR operator - neither

if x == "Kenya" or x == "Rwanda":
  print(x)

Rwanda

In [35]:
if x in countries:
  if x == "Morocco" or x == "Egypt":
    print("Both countries are in the list")
  else:
    print("Try another country name")

Try another country name

In [2]:
countries = ["Kenya", "Rwanda", "Burundi", "Angola", "S.A"]

#or operator
if x in countries:
  if x == "Kenya" or x == "Ethiopia":
    print("One of the countries is in the list")
  else:
    print("Try another country name")

#and operator
if x in countries:
  if x == "Kenya" and x == "Angola":
    print("Both countries are in the list")
  else:
    print("Try another country name")

NameError: ignored

In [ ]:
# functions/ methods
## in-built fx
## user-defined fx